body {
   margin:0px;
   padding:0px;
}

.game {
   margin:0 auto;
   border:1px solid black;
   font-size:0px;
   overflow:hidden;
   position:relative;

}
.case {
   border:1px solid #000000; 
   box-sizing:border-box; 
   display:inline-block;
   font-size:12px;
}
.perso {
   background-color:blue;
   position:absolute;
   z-index:999;
   transition:100ms ease-in all;
   border-radius:100%;
}
.adversaire {
   background-color:blue;
   position:absolute;
   z-index:9999;
   transition:50ms ease-in all;
   border-radius:100%;
}
.bombe {
   background-color:greenyellow;
   position:absolute;
   z-index:99;
}
.bombed {
   animation-name: bombes;
   animation-duration: 200ms;
   animation-play-state: running;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.bomb_item {
   background-color:black;
   position:absolute;
}
.str1 {
   background:url(../img/str1.png);
   background-size:cover;
}
.str2 {
   background:url(../img/str2.png);
   background-size:cover;
}
.str3 {
   background:url(../img/str3.jpg);
   background-size:cover;
}

@keyframes bombes {
   0%{background-color:yellow}
   100%{background-color:#888815}
   
}