body {
   margin:0px;
   padding:0px;
   font-size:0px;
   font-family:sans-serif;
}

.game {
   margin:0 auto;
   border:1px solid black;
   font-size:0px;
   overflow:hidden;
   position:relative;

}
.case {
   border:1px solid #000000; 
   box-sizing:border-box; 
   display:inline-block;
}
.perso {
   background-color:blue;
   position:absolute;
   z-index:999999;
   transition:100ms ease-in all;
   border-radius:100%;
}
.adversaire {
   background-color:blue;
   position:absolute;
   z-index:9999;
   transition:50ms ease-in all;
   border-radius:100%;
}
.bombe {
   background-color:greenyellow;
}
.bombed {
   animation-name: bombes;
   animation-duration: 200ms;
   animation-play-state: running;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}

.str1 {
   background:url(../img/str1.png);
   background-size:cover;
}
.str2 {
   background:url(../img/str2.png);
   background-size:cover;
}
.str3 {
   background:url(../img/str3.jpg);
   background-size:cover;
}


@keyframes bombes {
   0%{background-color:yellow}
   100%{background-color:#888815}
   
}


.bombTarget {
   background: url(../img/bomb.png);
   background-size:cover;
   background-repeat:no-repeat;
   animation-name: bombes;
   animation-duration: 200ms;
   animation-play-state: running;
   animation-iteration-count: infinite;
   animation-timing-function: linear;
}
.bombed {
   background:url(../img/fire.jpg);
   background-repeat:no-repeat;
   background-size:cover;
}

.bonus {
   position:absolute;
   z-index:999;
   transition:50ms ease-in all;
   border-radius:100%;
}
.live {
   background-color:hotpink;
}
.supBomb {
   background-color:darkslategray;
}
.boostScore {
   background-color:greenyellow;
}

.data { 
   width:600px;
   height:auto;
   min-height:40px;
   margin:10px auto;
   font-size:0px;
}

.data .player, .data .ordinateur {
   width:300px;
   min-height:30px;
   display:inline-block;
   vertical-align:top;
}
.data .player{
   background-color:lightsteelblue;
}
.data .ordinateur{
   background-color:#b3bbc6;
}

.data .player h2, .data .ordinateur h2 {
   font-size:15px;
   text-align:center;
   color:white;
   text-transform:uppercase;
   margin-bottom:30px;
}
.data .player p, .data .ordinateur p {
   font-size:13px;
   text-align:center;
   color:white;
   margin-bottom:30px;
}
.live_list i {
   margin:10px 10px;
   font-size:24px;
   color:#ed253c;
}
.bomb_list i {
   margin:10px 10px;
   font-size:24px;
   color:darkslategray;
}

span {
   font-size:45px;
   font-weight:bold;
}